<h1 class="center orange darken-2 white-text">Trips</h1>

<div class=''> 
  <% @trips.each do |trip| %>
  <div class='col s12 m3'>
    <%= trip.name %>
    <br />
    <div class='btn orange white-text'> 
      <%= link_to 'Show', trip_path(trip) %>
    </div>
  </div>
  <% end %>
</div>
<br />
<div class='btn orange white-text'>
<%= link_to 'New Trip', new_trip_path %>
</div>