<ul>
  <h3 class='field margin'>
    <div class='card'>
      <li>Name: <%= @trip.name %> </li>
    </div>
  </h3>
    <li>
      <%= link_to 'Edit', edit_trip_path(@trip), class: 'btn orange white-text' %>
      <%= link_to 'Delete', trip_path(@trip), method: :delete, data: {confirm: 'Really Delete?'}, class: 'btn orange white-text' %>
    </li>
</ul>

<%= link_to 'Back', :back, class: 'btn orange white-text' %>
