<nav class='orange darken-2'>
  <div class='nav-wrapper'>
    <h1 class='brand-logo'><%= @title if @title %></h1>
    <a href="#!" class="brand-logo"></a>
    <a href="#" data-activates="mobile" class="button-collapse">
      <i class="fa fa-bars"></i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Trip', trips_path %></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><%= link_to 'Trip', trips_path %></li>
    </ul>
  </div>
</nav>